/* src/styles/game.css */
.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1604599340287-2042e85a3802?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
  }
  
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    font-weight: bold;
  }
  